#menubar{
    background: olivedrab;
}
#menubar ul{
    margin: 0px;
    padding : 0px;
    width : 700px;
}
#menubar ul li{
    display:inline-block;
    list-style-type: none;
    padding: 0px 15px; /* top,bottom = 0px , left,right = 15px*/
}
#menubar ul li a{
    color : white;
    text-decoration: none;
}
#menubar ul li a:hover{
    color : violet;
}