@keyframes thisFont {
    from
    {
        color:blue;
        font-size: 100%;
        font-style: oblique;
    }
    to
    {
        color : red;
        font-size:500%;
        font-style: italic;
    }
}
@keyframes thisP {
    from{
        background: gray;
    }
    to{
        background:khaki;
    }
}

h3{
    animation-name: thisFont;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

p{
    animation-name: thisP;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}